/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

.monitor1 {
  font-family: 'Kanit', sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.sensor-table1 {
  width: 100%;
  border-collapse: collapse; /* Merge border lines */
  border: 1px solid #000000; /* Apply border to the table */
  text-align: center;
}



.thead-table1 th {
  width: 100px; 
  font-size: 14px;

  background-color: #4db2ec;
  font-size: 16px;
}

.thead-table1 th,
.tbody-table1 td {
  border: 1px solid #000000; /* Apply border to table headers and cells */
}


.ssname{
  background-color: #4db2ec; 
}


td.red {
  background-color: red;
}

td.lightpink {
  background-color: lightpink;
}

td.lightgray {
  background-color: lightgray;
}

td.lightyellow {
  background-color: lightyellow;
}

td.lightgreen {
  background-color: rgb(70, 250, 100);
}



td.lightblue {
  background-color: rgb(255, 255, 255);
}





.flashing {
  animation: flashing 1s infinite;
}

@keyframes flashing {
  100% {
    background-color: red;
  }
  50% {
    background-color: lightgray;
  }
}
